{% load pesaje_tags %}


{% if carga.pagado %}
    <div class="number0 sec1">{{ carga.numero }}</div>
    <div class="number0 sec1">{{ carga.created|date:'d/m/Y' }}</div>
    <div class="complete-name sec1"><span data-id="{{carga.proveedor.id}}" id="proveedor-item_{{carga.id}}" class="proveedor-item-link">{{ carga.proveedor.apellidos}} {{ carga.proveedor.nombres }}</span></div>                
    <div class="complete-name sec1">{{ carga.conductor_vehiculo.apellidos }} {{ carga.conductor_vehiculo.nombres }}</div>
    <div class="number1 sec1">{{ carga.vehiculo.placa }}</div>
    <div class="text1 sec1 carga-item-link" data-id="{{carga.origen.id}}" id="origen-item_{{carga.id}}">{{ carga.origen.nombre }}</div>
    <div class="number1 sec1">{{ carga.peso_neto_tn|numero_decimal }}</div>
    <div class="text1 sec2">{{ carga.tipo_carga }}</div>
    <div class="number1 sec2 laboratorio-link">{{ carga.au|numero_decimal }}</div>
    <div class="number1 sec2">{{ carga.h2o|numero_decimal }}</div>
    <div class="number1 sec2">{{ carga.porcentaje_tamanos|numero_decimal }}%</div>
    <div class="number1 sec2">{{ carga.cobre_soluble|numero_decimal }}</div>
    <div class="number1 sec1">{{ carga.tms_pagar }}</div>  
    <div class="number1 sec6">{{ object.oro_soluble }}</div>                    
    <div class="number1 sec6">{{ object.ratio }}</div>                  
    <div class="number1 sec4">{{ carga.regalia }}</div>
    <div class="number1 sec4 numero-alineacion">{{ carga.anticipo|numero_decimal}}</div>
    <div class="number1 sec3 numero-alineacion">{{ carga.equipo_pesado|numero_decimal}}</div>
    <div class="number1 sec3 numero-alineacion">{{ carga.balanza|numero_decimal}}</div>
    <div class="number1 sec3 numero-alineacion">{{ carga.volqueta|numero_decimal}}</div>
    <div class="number1 sec3 numero-alineacion">{{ carga.analisis_laboratorio|numero_decimal}}</div>
    <div class="number1 sec3 numero-alineacion">{{ carga.otros_descuentos|numero_decimal}}</div>
    <div class="number1 sec3 numero-alineacion">{{ carga.retencion_acuerdo|numero_decimal}}</div>
    <div class="number1 sec3 numero-alineacion">{{ carga.total_descuento|numero_decimal}}</div>
    <div class="number1 sec5 numero-alineacion"><span data-value="{{carga.liquido_pagable}}" class="carga-pagada">{{ carga.liquido_pagable|numero_decimal}}</span></div>
    <div class="number0 sec1">{{ carga.numero }}</div>
    <div class="number0 sec6">{{ carga.numero_paleta }} {{ carga.color}}</div>
    <div class="number0"><i class="table-options fas fa-minus-circle"></i><i class="table-options fas fa-clipboard-check"></i></div>
{% else %}
    <div class="number0 sec1">{{ carga.numero }}</div>
    <div class="number0 sec1">{{ carga.created|date:'d/m/Y' }}</div>
    <div class="complete-name sec1"><span data-id="{{carga.proveedor.id}}" id="proveedor-item_{{carga.id}}" class="proveedor-item-link">{{ carga.proveedor.apellidos}} {{ carga.proveedor.nombres }}</span></div>                
    <div class="complete-name sec1">{{ carga.conductor_vehiculo.apellidos }} {{ carga.conductor_vehiculo.nombres }}</div>
    <div class="number1 sec1">{{ carga.vehiculo.placa }}</div>
    <div class="text1 sec1 carga-item-link" data-id="{{carga.origen.id}}" id="origen-item_{{carga.id}}">{{ carga.origen.nombre }}</div>
    <div class="number1 sec1">{{ carga.peso_neto_tn|numero_decimal }}</div>
    <div class="text1 sec2">{{ carga.tipo_carga }}</div>
    <div class="number1 sec2 laboratorio-link">{{ carga.au|numero_decimal }}</div>
    <div class="number1 sec2">{{ carga.h2o|numero_decimal }}</div>
    <div class="number1 sec2">{{ carga.porcentaje_tamanos|numero_decimal }}%</div>
    <div class="number1 sec2">{{ carga.cobre_soluble|numero_decimal }}</div>
    <div class="number1 sec1">{{ carga.tms_pagar }}</div>  
    <div class="number1 sec6">{{ object.oro_soluble }}</div>                    
    <div class="number1 sec6">{{ object.ratio }}</div>                  
    <div class="number1 sec4">{{ carga.regalia }}</div>
    <div class="number1 sec4 numero-alineacion">{{ form.anticipo }}</div>      
    <div class="number1 sec3 numero-alineacion tooltip-container">{{ form.equipo_pesado }}<div id="tooltip-box-carguio__{{carga.id}}" class="tooltip-box">{% if carga.equipo_carguio %}{{carga.equipo_carguio.placa}} - {{ carga.equipo_carguio.apellidos }} {{ carga.equipo_carguio.nombres }}{% else %} NO TIENE EQUIPO CARGUIO ASIGNADO {% endif%}</div></div>
    <div class="number1 sec3 numero-alineacion">{{ form.balanza}}</div>
    <div class="number1 sec3 numero-alineacion tooltip-container">{{ form.volqueta }}<div id="tooltip-box-volqueta__{{carga.id}}" class="tooltip-box">{{carga.vehiculo.placa}} - {{ carga.vehiculo.apellidos }} {{ carga.vehiculo.nombres }}</div></div>
    <div class="number1 sec3 numero-alineacion">{{ form.analisis_laboratorio }}</div>
    <div class="number1 sec3 numero-alineacion">{{ form.otros_descuentos }}</div>
    <div class="number1 sec3 numero-alineacion"><span class=" retencion-acuerdo retencion-acuerdo_{{carga.id}}">{{ carga.retencion_acuerdo|numero_decimal }}</span>{{ form.retencion_acuerdo_vol }}</div>
    <div class="number1 sec3 numero-alineacion"><span class="total-descuento_{{carga.id}}">{{ carga.total_descuento|numero_decimal }}</span></div>
    <div class="number1 sec5 numero-alineacion total"><span data-value="{{carga.liquido_pagable}}" class="liquido-pagable_{{carga.id}}">{{ carga.liquido_pagable|numero_decimal }}</span></div>
    <div class="number0 sec1">{{ carga.numero }}</div>
    <div class="number0 sec6">{{ carga.numero_paleta }} {{ carga.color}}</div>
    <div class="number0"><i class="table-options fas fa-minus-circle"></i><i class="table-options fas fa-clipboard-check"></i></div>
    {% csrf_token %}
{% endif %}