{% load pesaje_tags %}

{% if not object.pagado %}
<form action="{% url 'contabilidad-update' pk=object.id %}" data-id="{{ object.id }}" class="table-row">
    <div class="number0 sec1">{{ object.numero }}</div>
    <div class="number0 sec1">{{ object.created|date:'d/m/Y' }}</div>
    <div class="complete-name sec1"><span data-id="{{carga.proveedor.id}}" id="proveedor-item_{{carga.id}}" class="proveedor-item-link">{{ carga.proveedor.apellidos}} {{ carga.proveedor.nombres }}</span></div>                
    <div class="complete-name sec1">{{ carga.conductor_vehiculo.apellidos }} {{ carga.conductor_vehiculo.nombres }}</div>
    <div class="number1 sec1">{{ carga.vehiculo.placa }}</div>
    <div class="text1 sec1 carga-item-link" data-id="{{carga.origen.id}}" id="origen-item_{{carga.id}}">{{ carga.origen.nombre }}</div>
    <div class="number1 sec1">{{ object.peso_neto_tn|numero_decimal }}</div>
    <div class="text1 sec2">{{ object.tipo_carga }}</div>
    <div class="number1 sec2 laboratorio-link">{{ object.au|numero_decimal }}</div>
    <div class="number1 sec2">{{ object.h2o|numero_decimal }}</div>
    <div class="number1 sec2">{{ object.porcentaje_tamanos|numero_decimal }}%</div>
    <div class="number1 sec2">{{ object.cobre_soluble|numero_decimal }}</div>
    <div class="number1 sec1">{{ object.tms_pagar }}</div>                    
    <div class="number1 sec6">{{ object.oro_soluble }}</div>                    
    <div class="number1 sec6">{{ object.ratio }}</div>                    
    <div class="number1 sec4">{{ object.penalizacion_cu_soluble }}</div>
    <div class="number1 sec4">{{ object.regalia }}</div>
    <div class="number1 sec4 numero-alineacion">{{ form.anticipo }}</div>      
    <div class="number1 sec3 numero-alineacion tooltip-container">{{ form.equipo_pesado }}<div id="tooltip-box-carguio__{{object.id}}" class="tooltip-box">{% if object.equipo_carguio %}{{object.equipo_carguio.placa}} - {{ object.equipo_carguio.apellidos }} {{ object.equipo_carguio.nombres }}{% else %} NO TIENE EQUIPO CARGUIO ASIGNADO {% endif%}</div></div>
    <div class="number1 sec3 numero-alineacion">{{ form.balanza}}</div>
    <div class="number1 sec3 numero-alineacion tooltip-container">{{ form.volqueta }}<div id="tooltip-box-volqueta__{{object.id}}" class="tooltip-box">{{object.vehiculo.placa}} - {{ object.vehiculo.apellidos }} {{ object.vehiculo.nombres }}</div></div>
    <div class="number1 sec3 numero-alineacion">{{ form.analisis_laboratorio }}</div>
    <div class="number1 sec3 numero-alineacion">{{ form.otros_descuentos }}</div>
    <div class="number1 sec3 numero-alineacion"><span class=" retencion-acuerdo retencion-acuerdo_{{object.id}}">{{ object.retencion_acuerdo|numero_decimal }}</span>{{ form.retencion_acuerdo_vol }}</div>
    <div class="number1 sec3 numero-alineacion"><span class="total-descuento_{{object.id}}">{{ object.total_descuento|numero_decimal }}</span></div>
    <div class="number1 sec5 numero-alineacion total"><span data-value="{{object.liquido_pagable}}" class="liquido-pagable_{{object.id}}">{{ object.liquido_pagable|numero_decimal }}</span></div>
    <div class="number0 sec1">{{ object.numero }}</div>
    <div class="number0 sec6">{{ object.numero_paleta }} {{ object.color}}</div>
    <div class="number0"><i class="table-options fas fa-minus-circle"></i><i class="table-options fas fa-clipboard-check"></i></div>
    {% csrf_token %}
</form>
{% else %}
<form action="{% url 'contabilidad-update' pk=object.id %}" data-id="{{ object.id}}" class="table-row">
    <div class="number0 sec1">{{ object.numero }}</div>
    <div class="number0 sec1">{{ object.created|date:'d/m/Y' }}</div>
    <div class="complete-name sec1"><span data-id="{{carga.proveedor.id}}" id="proveedor-item_{{carga.id}}" class="proveedor-item-link">{{ carga.proveedor.apellidos}} {{ carga.proveedor.nombres }}</span></div>                
    <div class="complete-name sec1">{{ carga.conductor_vehiculo.apellidos }} {{ carga.conductor_vehiculo.nombres }}</div>
    <div class="number1 sec1">{{ carga.vehiculo.placa }}</div>
    <div class="text1 sec1 carga-item-link" data-id="{{carga.origen.id}}" id="origen-item_{{carga.id}}">{{ carga.origen.nombre }}</div>
    <div class="number1 sec1">{{ object.peso_neto_tn|numero_decimal }}</div>
    <div class="text1 sec2">{{ object.tipo_carga }}</div>
    <div class="number1 sec2 laboratorio-link">{{ object.au|numero_decimal }}</div>
    <div class="number1 sec2">{{ object.h2o|numero_decimal }}</div>
    <div class="number1 sec2">{{ object.porcentaje_tamanos|numero_decimal }}%</div>
    <div class="number1 sec2">{{ object.cobre_soluble|numero_decimal }}</div>
    <div class="number1 sec1">{{ object.tms_pagar }}</div>    
    <div class="number1 sec6">{{ object.oro_soluble }}</div>                    
    <div class="number1 sec6">{{ object.ratio }}</div>       
    <div class="number1 sec4">{{ object.penalizacion_cu_soluble }}</div>                             
    <div class="number1 sec4">{{ object.regalia }}</div>
    <div class="number1 sec4 numero-alineacion">{{ object.anticipo|numero_decimal}}</div>
    <div class="number1 sec3 numero-alineacion">{{ object.equipo_pesado|numero_decimal}}</div>
    <div class="number1 sec3 numero-alineacion">{{ object.balanza|numero_decimal}}</div>
    <div class="number1 sec3 numero-alineacion">{{ object.volqueta|numero_decimal}}</div>
    <div class="number1 sec3 numero-alineacion">{{ object.analisis_laboratorio|numero_decimal}}</div>
    <div class="number1 sec3 numero-alineacion">{{ object.otros_descuentos|numero_decimal}}</div>
    <div class="number1 sec3 numero-alineacion">{{ object.retencion_acuerdo|numero_decimal}}</div>
    <div class="number1 sec3 numero-alineacion">{{ object.total_descuento|numero_decimal}}</div>
    <div class="number1 sec5 numero-alineacion"><span data-value="{{object.liquido_pagable}}" class="carga-pagada">{{ object.liquido_pagable|numero_decimal}}</span></div>
    <div class="number0 sec1">{{ object.numero }}</div>
    <div class="number0 sec6">{{ object.numero_paleta }} {{ object.color}}</div>
    <div class="number0"><i class="table-options fas fa-minus-circle"></i><i class="table-options fas fa-clipboard-check"></i></div>                   
</form>
{% endif %}