{% extends 'base.html' %}

{% load static %}

{% block title %}Contabilidad{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/select2/dist/css/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/datatables/css/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/vanillajs-datepicker/css/datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/contabilidad/index.css' %}">
{% endblock css %}

{% block body %}
    <div class="conta-desktop">
        <div class="conta-desktop--header">            
            <div class="selector">
                <label for="">Nro. Boleta &nbsp;</label><select id="select-boleta"></select>
            </div>
            <div class="opciones">
                <div class="uno">
                    <button class="button"><span class="button__text">Historial</span><span class="button__icon"><i class="fas fa-clipboard"></i></span></button>    
                </div>
                <div class="dos">
                    <button class="button button__comprobante"><span id="imprimir-comprobantes" class="button__text">Comprobante</span><span class="button__icon"><i class="fas fa-print"></i></span></button>
                    <button class="button button__recibo"><span id="imprimir-boletas" class="button__text">Recibo</span><span class="button__icon"><i class="fas fa-print"></i></span></button>                    
                </div>                
            </div>            
        </div>
        <div class="conta-desktop--body">
            <div class="conta-desktop--body-content">
                <div class="table-headers">
                    <div class="number0">Nro. Boleta</div>
                    <div class="number0">Fecha</div>
                    <div class="complete-name">Transportista</div>
                    <div class="complete-name">Proveedor</div>                
                    <div class="number1">Placa</div>
                    <div class="text1">Procedencia</div>
                    <div class="number1">Peso Neto</div>
                    <div class="text1">Tipo Carga</div>
                    <div class="number1">Au(g/t)</div>
                    <div class="number1">H2O(%)</div>
                    <div class="number1">% Sobre Tamanos</div>
                    <div class="number1">Cobre Soluble</div>
                    <div class="number1">TMS a pagar</div>
                    <div class="number1">Regalia</div>
                    <div class="number1">Anticipo</div>
                    <div class="number1">Equipo Pesado</div>
                    <div class="number1">Balanza</div>
                    <div class="number1">Volqueta</div>
                    <div class="number1">Analisis Laboratorio</div>
                    <div class="number1">Otros Descuentos</div>
                    <div class="number1">Retencion 5% Voluntario</div>
                    <div class="number1">Total Descuento</div>
                    <div class="number1">Liquido Pagable</div>
                    <div class="number0">Nro. Boleta</div>
                    <div class="number0">Nro. y Color de Paleta</div>

                </div>                                
            </div>            
        </div>
        <div class="conta-desktop--footer">
            <div class="texto">
                <span class="texto-registros">0</span> registros
            </div>
            <div class="calculo-total">
                <strong>TOTAL : </strong><span class="calculo-total-valor">56006</span> Bs.
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                
            </div>
        </div>
    </div>
{% endblock body %}

{% block js %}
    <script src="{% static 'vendor/datatables/js/jquery-3.5.1.js'%}"></script>
    <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'vendor/datatables/js/dataTables.bootstrap5.min.js'%}"></script>
    <script src="{% static 'vendor/vanillajs-datepicker/js/datepicker-full.min.js' %}"></script>    
    <script src="{% static 'vendor/vanillajs-datepicker/js/locales/es.js' %}"></script>
    <script src="{% static 'vendor/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'vendor/select2/dist/js/i18n/es.js' %}"></script>
    <script src="{% static 'vendor/printJS/print.min.js' %}"></script>
    <script src="{% static 'js/contabilidad/index.js' %}"></script>
{% endblock js %}