<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Muestras de Laboratorio</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="lab-header">
        <div class="texto">COD. LAB.</div>
        <div class="numero">MALLA +150</div>
        <div class="numero">MALLA -150</div>
        <div class="numero">LEY POND.</div>
        <div class="numero">NRO. CERT.</div>
        <div class="texto">LABORATORIO</div>
    </div>
    {% for muestra in carga.muestra_set.all %}
        {% if muestra.laboratorio %}
        <div class="lab-row">
            <div class="texto">{{ muestra.codigo }}</div>
            <div class="numero">{{ muestra.malla_mas }}</div>
            <div class="numero">{{ muestra.malla_menos }}</div>
            <div class="numero">{{ muestra.ley_ponderada }}</div>
            <div class="numero">{{ muestra.nro_certif}}</div>
            <div class="texto">{{ muestra.laboratorio}}</div>
        </div>
        {% endif %}
    {% endfor %}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>    
</div>