<div class="modal-header">
    <h5 class="modal-title">Registro de Vehiculo</h5>
</div>
<div class="modal-body">
    <form id="conductor-form" action="{% url 'conductor-create' %}" method="post" autocomplete="off">
        {% csrf_token %}        
        <div class="row mb-2">
            <div class="col-md-12">
                <label for="">Nombres</label>
                {{ form.nombres }}
            </div>            
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <label for="">Apellidos</label>
                {{ form.apellidos }}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <label for="">Numero Documento</label>
                {{ form.numero_documento }}
            </div>
            <div class="col-md-6">
                <label for="">Telefono</label>
                {{ form.telefono }}
            </div>
        </div>                
        <div class="row">
            <div class="col-md-12 text-end">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
            </div>
        </div>
    </form>
</div>