{% extends 'base.html' %}

{% load static %}

{% block css %}    
    <link rel="stylesheet" href="{% static 'css/produccion/nuevo.css' %}">
{% endblock css %}

{% block body %}
    <div class="row">
        <div class="card">
            <div class="card-body card-nuevo">
                <h5 class="card-title"></h5>
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-4">Destino</div>
                            <div class="col-md-8"><input type="text" class="form-control form-control-sm"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-5"><label for="">Ley Minima</label></div>
                            <div class="col-md-7"><input type="text" class="form-control form-control-sm"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-5"><label for="">Ley Maxima</label></div>
                            <div class="col-md-7"><input type="text" class="form-control form-control-sm"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12 text-end"><button class="btn btn-primary btn-sm">Guardar</button></div>                            
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>    
        <div class="footer">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 text-end">
                    
                </div>
            </div>
        </div>    
    </div>
{% endblock body %}

{% block js %}        
    <script src="{% static 'js/produccion/nuevo.js' %}"></script>
{% endblock js %}