{% load static %}

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>                            
            <th></th>
        </tr>
    </thead>
    <tbody >                      
    {% for laboratorio in object_list %}
        <tr>
            <td width="20%">{{ forloop.counter }}</td>
            <td width="60%">
                {{ laboratorio.nombre }}
            </td>
            <td class="cotizacion-options text-end"><i class="bi bi-pencil-square" data-url={% url 'laboratorio-edit' pk=laboratorio.id %}></i></td>
        </tr>
    {% endfor %}           
    </tbody>
</table>