{% load static %}

{% load usuario_tags %}
<div class="row">    
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-md-6">
                        <h5 class="card-title">
                        COTIZACIONES
                        </h5>
                    </div>
                    <div class="col-md-6 text-end">
                        <button id="cotizacion-register" class="btn btn-sm btn-primary" data-url="{% url 'cotizacion-create' %}">NUEVO</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table id="cotizaciones" class="table table-hover display nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col">Fecha Inicio</th>
                                    <th scope="col">Fecha Fin</th>
                                    <th scope="col">Valor Pagable</th>                    
                                    <th scope="col">Valor Oficial</th>                    
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>                              
    </div>    
    <div class="col-md-6"> 
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-md-8">
                        <h5 class="card-title">
                        FACTOR RECUPERACION
                        </h5>
                    </div>
                    <div class="col-md-4 text-end">
                        <button id="factor-register" class="btn btn-sm btn-primary" data-url="{% url 'factor-create' %}">NUEVO</button>
                    </div>
                </div>
                <div class="row">
                    <div id="factores" class="col-md-12" data-url="{% url 'factor-list' %}">
                        
                    </div>
                </div>
            </div>
        </div>                   
    </div>
</div>