<div class="modal-header">
    <h5 class="modal-title">Editar Proveedor</h5>
</div>
<div class="modal-body">
    <form id="proveedor-form" action="{% url 'proveedor-edit' pk=object.id %}" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="row mb-2">
            <div class="col-md-12">
                <label for="">NOMBRES</label>
                {{ form.nombres }}
            </div>            
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <label for="">APELLIDOS</label>
                {{ form.apellidos }}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <label for="">NUMERO DOCUMENTO</label>
                {{ form.numero_documento }}
            </div>
            <div class="col-md-6">
                <label for="">TELEFONO</label>
                {{ form.telefono }}
            </div>
        </div>        
        <div class="row mb-2">
            <div class="col-md-12">
                <label for="">DIRECCION</label>
                {{ form.direccion }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-end">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
            </div>
        </div>
    </form>
</div>