{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/datatables/css/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/proveedor/index.css' %}">
{% endblock css %}

{% block title %}Proveedor{% endblock title %}

{% block body %}
<div class="card">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-md-6">
                <h5 class="card-title">LISTA DE PROVEEDORES</h5>
            </div>
            <div class="col-md-6 text-end">
                <button id="proveedor-create" class="btn btn-primary" data-url="{% url 'proveedor-create' %}">Nuevo</button>
            </div>            
        </div>        
        <div class="row mb-2">
            <div class="col-md-12">
                <table id="proveedores" class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>                            
                            <th>Nro Documento</th>
                            <th>Telefono</th>
                            <th>Direccion</th>
                            <th></th>                            
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            
        </div>
    </div>
</div>
{% endblock body %}

{% block js %}
    <script src="{% static 'vendor/datatables/js/jquery-3.5.1.js'%}"></script>
    <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'vendor/datatables/js/dataTables.bootstrap5.min.js'%}"></script>
    <script src="{% static 'js/proveedor/index.js' %}"></script>
{% endblock js %}