<form action="{% url 'pesaje-edit' pk=object.id %}" method="post">
    <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">EDITAR PESAJE</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="row pesaje-header">
            <div class="col-md-3 d-flex flex-row align-middle justify-content-center balanza-active"><i class="bi bi-circle-fill"></i></div>
            <div class="col-md-6 balanza-marcador d-flex flex-row align-items-center justify-content-center">0,0</div>
            <div class="col-md-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault1">
                    <label class="form-check-label" for="flexSwitchCheckDefault">PESO BRUTO</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault2">
                    <label class="form-check-label" for="flexSwitchCheckDefault">PESO TARA</label>
                </div>
            </div>
        </div>
        {% csrf_token %}
        <div class="row justify-content-md-center pt-4 pb-4">
            <div class="col-md-8">                
                <div class="row pb-2">
                    <div class="col-md-4">Conductor</div>
                    <div class="col-md-8">
                        {{ form.vehiculo }}
                    </div>
                </div>
                <div class="row pb-2">
                    <div class="col-md-4">Proveedor</div>
                    <div class="col-md-8">
                        {{ form.proveedor }}
                    </div>
                </div>
                <div class="row pb-2">
                    <div class="col-md-4">Origen Carga</div>
                    <div class="col-md-8"><input type="text" class="form-control form-control-sm"></div>
                </div>
                <div class="row">
                    <div class="col-md-4">Destino Carga</div>
                    <div class="col-md-8">{{ form.destino }}</div>
                </div>
            </div>
        </div>                    
        <div class="row pesaje-datos">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4 d-flex flex-column align-items-center">
                        <label for="">PESO BRUTO (kg)</label>
                        {{ form.peso_bruto }}
                    </div>
                    <div class="col-md-4 d-flex flex-column align-items-center">
                        <label for="">PESO TARA (Kg)</label>
                        {{ form.peso_tara }}
                    </div>
                    <div class="col-md-4 d-flex flex-column align-items-center">
                        <label for="">PESO NETO (Kg)</label>
                        {{ form.peso_neto }}
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                <div class="col-md-12 d-flex flex-column align-items-center">
                    <label for="">(Tn)</label>
                    <input type="text" class="form-control" readonly>
                </div>           
                </div>     
            </div>                      
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x"></i> Cancelar</button>
        <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> Guardar</button>
    </div>
</form>