{% extends 'base.html' %}

{% load static %}

{% block title %}Pesaje{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/select2/dist/css/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/vanillajs-datepicker/css/datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/pesaje/index.css' %}">
{% endblock css %}

{% block body %}
      
<div class="card mb-2">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Buscar Proveedor y/o num. pesaje">
                    <span class="input-group-text" id="inputGroup-sizing-sm"><i class="bi bi-search"></i></span>                                            
                </div>                                        
            </div>  
            <div class="col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-md-4"><input type="text" class="form-control form-control-sm date-picker"></div>
                    <div class="col-md-4"><input type="text" class="form-control form-control-sm date-picker"></div>
                    <div class="col-md-4 d-flex justify-content-end"><button id="pesaje-create" data-url="{% url 'pesaje-create' %}" class="btn btn-sm btn-primary">Nuevo</button></div>
                </div>
            </div>
        </div>
    </div>
</div>    
<div class="card">                            
    <ul class="card-body">                                
        <div class="list-header">
            <div class="numero">
                Num.
            </div>
            <div class="fecha">
                Fecha / Hora
            </div>
            <div class="conductor">
                Conductor / Placa
            </div>
            <div class="proveedor">
                Proveedor
            </div>
            <div class="origen">
                Origen
            </div>
            <div class="destino">
                Destino
            </div>
            <div class="peso-bruto">
                Peso Bruto (KG)
            </div>
            <div class="peso-tara">
                Peso Tara &ensp;(KG)
            </div>
            <div class="peso-neto">
                Peso Neto &ensp;(TN)
            </div>
            <div class="responsable">
                Resp. pesaje
            </div>
            <div class="options"></div>
        </div>     
        <div id="items">
        <li class="miner-item">
            <div class="miner-item-info">
                <div class="numero">
                    99999
                </div>
                <div class="fecha">
                    <span>28/12/2022</span>
                    <span>22:00</span>
                </div>
                <div class="conductor">
                    <span>Flores Mancilla Filemon</span>
                    <span>2343-kxs</span>
                </div>
                <div class="proveedor">
                    Flores Mancilla Filemon
                </div>
                <div class="origen">
                    Maria
                </div>
                <div class="destino">
                    Cancha Mina
                </div>
                <div class="peso-bruto">
                    28.620
                </div>
                <div class="peso-tara">
                    6.234
                </div>
                <div class="peso-neto">
                    22.64
                </div>
                <div class="responsable">
                    mansd
                </div>
                <div class="options">
                    <i class="bi bi-printer"></i>
                    <i class="bi bi-pencil"></i>                                            
                    <i class="bi bi-trash"></i>                                            
                </div>
            </div>
        </li>                            
        <li class="miner-item">
            <div class="miner-item-info">
                <div class="numero">
                    99999
                </div>
                <div class="fecha">
                    <span>28/12/2022</span>
                    <span>22:00</span>
                </div>
                <div class="conductor">
                    <span>Flores Mancilla Filemon</span>
                    <span>2343-kxs</span>
                </div>
                <div class="proveedor">
                    Flores Mancilla Filemon
                </div>
                <div class="origen">
                    Maria
                </div>
                <div class="destino">
                    Cancha Mina
                </div>
                <div class="peso-bruto">
                    28.620
                </div>
                <div class="peso-tara">
                    6.234
                </div>
                <div class="peso-neto">
                    22.64
                </div>
                <div class="responsable">
                    mansd
                </div>
                <div class="options">
                    <i class="bi bi-printer"></i>
                    <i class="bi bi-pencil"></i>                                            
                    <i class="bi bi-trash"></i>                                            
                </div>
            </div>
        </li>   
        </div>                                            
    </ul>                           
</div>                             
            
<!-- Modal -->
<div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            
        </div>
    </div>
</div>
{% endblock body %}

{% block js %}
    <script src="{% static 'vendor/datatables/js/jquery-3.5.1.js'%}"></script>
    <script src="{% static 'vendor/vanillajs-datepicker/js/datepicker-full.min.js' %}"></script>    
    <script src="{% static 'vendor/vanillajs-datepicker/js/locales/es.js' %}"></script>
    <script src="{% static 'vendor/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'vendor/select2/dist/js/i18n/es.js' %}"></script>
    <script src="{% static 'js/pesaje/index.js' %}"></script>
{% endblock js %}