{% extends 'base.html' %}

{% load static %}

{% block title %}Pesaje{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/select2/dist/css/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/vanillajs-datepicker/css/datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/printJS/print.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pesaje/index.css' %}">
{% endblock css %}

{% block body %}

{{ request.user.rol|json_script:"user_rol" }}

<div class="card mb-2">
    <div class="card-body card-header-container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="input-group input-group-sm">
                    <input type="text" id="search-pesaje"class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Buscar Proveedor y/o num. pesaje">
                    <span class="input-group-text" id="inputGroup-sizing-sm"><i class="bi bi-search"></i></span>                                            
                </div>                                        
            </div>  
            <div class="col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-md-4"><input type="text" id="fecha-inicio" class="form-control form-control-sm"></div>
                    <div class="col-md-4"><input type="text" id="fecha-fin" class="form-control form-control-sm"></div>
                    <div class="col-md-4 d-flex justify-content-end"><button id="pesaje-create" data-url="{% url 'pesaje-create' %}" class="btn btn-sm btn-primary">Nuevo</button></div>
                </div>
            </div>
        </div>
    </div>
</div>    
<div class="card item-container">                            
    <ul class="card-body">                                
        <div class="list-header">
            <div class="numero">
                Num.
            </div>
            <div class="fecha">
                Fecha / Hora
            </div>
            <div class="conductor">
                Conductor / Placa
            </div>
            <div class="proveedor">
                Proveedor
            </div>
            <div class="origen">
                Origen
            </div>
            <div class="destino">
                Destino
            </div>
            <div class="peso-bruto">
                Peso Bruto (KG)
            </div>
            <div class="peso-tara">
                Peso Tara &ensp;(KG)
            </div>
            <div class="peso-neto">
                Peso Neto &ensp;(TN)
            </div>
            <div class="responsable">
                Resp. pesaje
            </div>
            <div class="options"></div>
        </div>     
        <div id="items" class="list-items">
        
        </div>                                            
    </ul>                           
</div>                        
            
<!-- Modal -->
<div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            
        </div>
    </div>
</div>
{% endblock body %}

{% block js %}
    <script src="{% static 'vendor/datatables/js/jquery-3.5.1.js'%}"></script>
    <script src="{% static 'vendor/vanillajs-datepicker/js/datepicker-full.min.js' %}"></script>    
    <script src="{% static 'vendor/vanillajs-datepicker/js/locales/es.js' %}"></script>
    <script src="{% static 'vendor/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'vendor/select2/dist/js/i18n/es.js' %}"></script>
    <script src="{% static 'vendor/printJS/print.min.js' %}"></script>
    <script src="{% static 'js/pesaje/index.js' %}"></script>
{% endblock js %}