.pesaje-header {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 1rem;
}

.pesaje-datos {
    padding-top: 1rem;
    border-top: 1px solid #dee2e6;
}

.balanza-active i {
    font-size: 30px;
    color: #46A049;
}

.balanza-marcador {
    font-size: 32px;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: #fff;
    border-radius: 4px;
}

.miner-list {
    margin-top: 10px;
    list-style: none;
    height: inherit;
    overflow: hidden;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #d9e3eb;
}

.infinite-container {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0 0 30px;
    overflow: auto;
}

.miner-list-header {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    min-height: 60px;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #d9e3eb;
}

.miner-list-header .search {
    width: 50%;
}

.miner-list-header .options {
    display: flex;
    width: 50%;
    flex-direction: row-reverse;
}

.list-header {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 11px;
    text-transform: uppercase;
    color: #23282c;
    align-items: flex-end;
    border-bottom: 1px solid #23282c;
    font-weight: 700;
}

.list-header .numero {
    width: 4%;
}

.list-header .fecha {
    width: 8%;
    text-align: center;
}

.list-header .conductor {
    width: 18%;
}

.list-header .proveedor {
    width: 18%;
}

.list-header .origen {
    width: 8%;
}

.list-header .destino {
    width: 8%;
}

.list-header .peso-bruto {
    width: 7%;
    text-align: center;
}

.list-header .peso-tara {
    width: 7%;
    text-align: center;
}

.list-header .peso-neto {
    width: 7%;
    text-align: center;
}

.list-header .responsable {
    width: 7%;
    text-align: center;
}

.list-header .options {
    width: 8%;
}

.miner-item {
    display: flex;
    align-items: center;
    min-height: 50px;
    margin-bottom: 5px;
    background-color: #fff;
    font-size: 12px;
    transition: background .2s, border-color .2s, box-shadow .2s;
    border-bottom: 1px solid #d9e3eb;
}

.miner-item:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.miner-item>a {
    text-decoration: none;
}

.miner-item-info {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 10px 10px 10px;
    color: #7f95bb;
    font-size: 10px;
}

.miner-item-info .numero {
    width: 4%;
}

.miner-item-info .fecha {
    width: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    font-weight: 400;
}

.miner-item-info .fecha>span:first-child {
    color: #011429;
    font-size: 10px;
    font-weight: 700;
}

.miner-item-info .fecha>span:last-child {
    color: #7f95bb;
    font-weight: 700;
}

.miner-item-info .conductor {
    width: 18%;
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

.miner-item-info .conductor>span:first-child {
    color: #011429;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.miner-item-info .conductor>span:last-child {
    color: #7f95bb;
    font-weight: 700;
    text-transform: uppercase;
}

.miner-item-info .proveedor {
    width: 18%;
    display: flex;
    color: #011429;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.miner-item-info .origen {
    width: 8%;
    color: #011429;
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
}

.miner-item-info .destino {
    width: 8%;
    color: #011429;
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
}

.miner-item-info .peso-bruto {
    width: 7%;
    text-align: center;
    color: #7f95bb;
    font-weight: 700;
}

.miner-item-info .peso-tara {
    width: 7%;
    text-align: center;
    color: #7f95bb;
    font-weight: 700;
}

.miner-item-info .peso-neto {
    width: 7%;
    text-align: center;
    font-weight: 700;
    color: #46A049;
}

.miner-item-info .responsable {
    width: 7%;
    text-align: center;
    font-size: 10px;
    color: #011429;
    font-weight: 600;
}

.miner-item-info .options {
    font-size: 14px;
    text-align: right;
    width: 8%;
    display: none;
}

.miner-item-info:hover .options {
    display: block;
}

.options .bi {
    margin-left: 4px;
    cursor: pointer;
}

.options .bi-trash {
    color: var(--danger);
}

.options .bi-pencil {
    color: var(--warning);
}

.options .pesaje-bruto {
    color: #20a8d8;
}

.options .pesaje-tara {
    color: #444;
}

.pesaje-datos .form-control:focus,
.pesaje-datos .input-selected {
    background-color: var(--primary) !important;
    color: #fff;
    font-weight: 400;
    border: 1px solid var(--primary);
}

.balanza-active > .off {
    color: red;
}