<div class="modal-header">
    <h5 class="modal-title">Editar Cotizacion</h5>
</div>
<div class="modal-body">
    <form id="cotizacion-form" action="{% url 'cotizacion-edit' pk=object.id %}" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="row mb-2">
            <div class="col-md-6">
                <label for="" class="sr-only">Fecha Inicio</label>
                {{ form.fecha_inicio }}
            </div>
            <div class="col-md-6">
                <label for="" class="sr-only">Fecha Fin</label>
                {{ form.fecha_fin }}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <label for="" class="sr-only">Valor Pagable</label>
                {{ form.valor_pagable }}
            </div>
            <div class="col-md-6">
                <label for="" class="sr-only">Valor Oficial</label>
                {{ form.valor_oficial }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-end">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
            </div>
        </div>
    </form>
</div>