.primary-row {
    background-color: var(--primary) !important;
    color: #fff;
}

.total-row {
    background-color: #0B3861 !important;
    color: #fff;
}

.liquido-row {
    background-color: #86B404 !important;
    color: #fff;
}

.no-pagar {
    color: #842029;
}

.text-pagar {
    color: darkgreen;
    font-weight: 700;
}

.proveedor-card {
    background-color: #3c4b64;
    color: #eee;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.proveedor-card .proveedor-card__total {    
    font-size: 1.9rem;
}

.proveedor-id-hidden{
    display: none;
}

.refresh-btn {
    cursor: pointer;    
}

.opciones-card {
    background-color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.lista-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-excel {        
    align-self: flex-end;
    background-color: #fff;
    border-color: #1E7040;
    color: #1E7040;  
    font-weight: 500;      
    margin: 5px 5px;    
    cursor: pointer;
    height: 30px;    
    opacity: 0.8;
    transition: 0.3s all;
}

.btn-excel:hover {
    opacity: 1;
    transform: scale(1.2);
}

.btn-printer {
    width: 100%;
}

.btn-title {
    color: #3C4B64;
    font-weight: 700;
    align-self: baseline;
}

.btn-detalle-carga {
    cursor: pointer;        
    transition: 0.3s all;
}

.btn-detalle-carga:hover {
    color: #0B3861;        
    transform: scale(1.2);
}

tr {
    cursor: pointer;
}