.body-container {
    display: flex;
}

.primary-row {
    background-color: var(--primary) !important;
    color: #fff;
}

.total-row {
    background-color: #0B3861 !important;
    color: #fff;
}

.liquido-row {
    background-color: #86B404 !important;
    color: #fff;
}

.no-pagar {
    color: #842029;
}

.text-pagar {
    color: darkgreen;
    font-weight: 700;
}

.dos {
    display: flex;
    padding-top: 10px;
    padding-right: 5px;
}

.proveedor-card {
    background-color: #3c4b64;
    color: #eee;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.proveedor-card .proveedor-card__total {    
    font-size: 1.9rem;
}

.proveedor-id-hidden{
    display: none;
}

.refresh-btn {
    cursor: pointer;    
}

.opciones-card {
    background-color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.lista-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-excel {        
    align-self: flex-end;
    background-color: #fff;
    border-color: #1E7040;
    color: #1E7040;  
    font-weight: 500;      
    margin: 5px 5px;    
    cursor: pointer;
    height: 30px;    
    opacity: 0.8;
    transition: 0.3s all;
}

.btn-excel:hover {
    opacity: 1;
    transform: scale(1.2);
}

.btn-printer {
    width: 100%;
}

.btn-title {
    color: #3C4B64;
    font-weight: 700;
    align-self: baseline;
}

.btn-detalle-carga {
    cursor: pointer;        
    transition: 0.3s all;
}

.btn-detalle-carga:hover {
    color: #0B3861;        
    transform: scale(1.2);
}

tr {
    cursor: pointer;
}

.muestra-ext {
    background-color: #FF8000;
    color: #fff;
}

.muestra-prov {
    background-color: #86B404;
    color: #fff;
}

.muestra-test {
    background-color: #0B3861;
    color: #fff;
}

.muestra-bol {
    background-color: #0489B1;
    color: #fff;
}

.muestra-title {
    color: #2E2E2E;
    font-weight: 700;
}

.modal-header {
    padding: 10px;
}

.pagado {
    width: 100px;
}

.conta-desktop {
    margin: 5px;
    margin-top: 0;    
    height: calc(100vh - 4.5rem);
    display: flex;
    flex-direction: column;    
}

.conta-desktop--header {
    background-color: #fff;    
    display: flex;    
}

.table-headers {    
    display: flex;
    background-color: #3c4b64;
    color: #fff;
    align-items: center;
}

.table-row {
    display: flex;
    align-items: flex-end;    
    border-bottom: 1px solid #3c4b64;
}

.number0 {
    width: 5rem;    
    padding: 2px 2px;
    text-align: center;
    height: 100%;
}

.complete-name {
    width: 16rem;
    padding: 2px 2px;
    text-align: center;
}

.number1 {
    width: 5rem;
    padding: 2px 2px;
    text-align: center;
}

.text1 {
    width: 8rem;
    padding: 2px 2px;
    text-align: center;    
}

.sec1 {
    background-color: rgba(176, 224, 230, .8);
}

.numero-alineacion {
    text-align: end;
}

.sec2 {
    background-color: rgba(255, 215, 0, .6);
}

.sec3 {
    background-color: rgba(0, 255, 0, .5);        
}

.sec4 {
    background-color: rgba( 143, 188, 143 ,.6);
}

.sec5 {
    background-color: rgba(255, 165, 0, .6 );
}

.sec6 {
    background-color: rgba(0, 255, 255, .4);
}

.retencion-acuerdo {
    margin-right: 5px;
}

.table-options {
    margin: 0 5px;
    cursor: pointer;
}

.table-input {
    display: inline-block;
    line-height: 12px;
    font-size: 11px;
    width: 4.5rem;
    text-align: end;    
}

.proveedor-item-link, .carga-item-link, .laboratorio-link {
    cursor: pointer;
}

.select2-container .select2-selection--single {
    height: 24px;
}

.fa-minus-circle {
    color: var(--bs-danger);
}

.fa-clipboard-check {
    color: var(--bs-success);
}

.button {    
    display: inline-flex;    
    padding: 0;
    margin-left: 2px;
    height: 24px;
    background: #3C4B64;
    color: #eee;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
}

.button__comprobante {
    background: var(--bs-primary);
}

.button__recibo {
    background: var(--bs-orange);
}

.button__guardar {
    background: var(--success);
}

.button__text,
.button__icon {
    display: inline-flex;
    align-items: center;
    padding: 0 5px;  
    height: 100%;  
}

.button__icon {
    background: rgba(0,0,0, 0.08);
}

.conta-desktop--header .selector {
    padding: .5rem;
    width: 50%;
    display: flex;
    align-items: baseline;    
}

.conta-desktop--header .opciones {
    padding: .5rem;
    width: 50%;
    display: flex;
}

.conta-desktop--header .opciones .uno {
    width: 50%;
}

.conta-desktop--header .opciones .dos {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.conta-desktop--body {    
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    height: 100%;
    padding: .5rem;
    background: #fff;
    width: 100%;
    overflow-y: auto;
}

.conta-desktop--body-content {
    flex: 0 0 auto;
}

.conta-desktop--footer {    
    display: flex;
    background-color: #3C4B64;
    color: #eee;
 }

.conta-desktop--footer .texto {
    padding: .5rem;
    width: 50%;
}

.conta-desktop--footer .calculo-total {
    padding: .5rem;    
    text-align: end;
    width: 50%;
    font-size: 14px;
}

.modal-content {
    font-size: 14px;
}

.lab-row, .lab-header {
    display: flex;
}

.lab-row .numero, .lab-header .numero {
    width: 10rem;
}

.lab-row .numero1, .lab-header .numero1 {
    width: 8rem;
}

.lab-row .texto, .lab-header .texto {
    width: 15rem;
}

.lab-header {
    text-align: center;
}

.lab-row .texto {
    text-align: center;
}

.lab-row .numero, .lab-row .numero1 {
    text-align: end;
}

.lab-row .boleta , .lab-header .boleta{
    width: 10rem;
    text-align: center;
}

.lab-row .prov , .lab-header .prov{
    width: 20rem;
    text-align: center;
}

.lab-header {
    background-color: #3c4b64;
    color: #fff;
}

.lab-row:nth-child(odd) {
    background-color: #eee;
}

.tooltip-container {
    position: relative;
}

.tooltip-box {
    position: absolute;
    top: -24px;
    border: 2px solid #fd7e14;
    left: 0;
    padding: 2px;
    display: none;
    font-size: 11px;
    width: 400px;    
    text-align: start;
    background-color: #fff;
    border-radius: 5px;
}