{% load pesaje_tags %}
<div class="col-md-12">
    <form action="{% url 'paleta-edit' pk=object.id %}" method="post">
    <table class="table table-bordered table-sm">
        <tbody>
            <tr>
                <td class="primary-row">
                    NUMERO:
                </td>
                <td class="text-end">
                    <strong>{{ object.numero }}</strong>
                </td>
            </tr>            
            <tr>
                <td class="primary-row">
                    Nº PLACA VEHIC.:
                </td>
                <td class="text-center">
                    {{ object.vehiculo.placa }}
                </td>
            </tr>
            <tr>
                <td class="primary-row">
                    CONDUCTOR:
                </td>
                <td class="text-center">
                    {{ object.conductor_vehiculo.apellidos }} {{ object.conductor_vehiculo.nombres }}
                </td>
            </tr>            
            <tr>
                <td class="primary-row">
                    ORIGEN:
                </td>
                <td class="text-center">
                    {{ object.origen }}
                </td>
            </tr>
            <tr>
                <td class="primary-row">
                    DESTINO:
                </td>
                <td class="text-center">
                    {{ object.destino }}
                </td>
            </tr>                  
                        
            {% if object.numero_paleta and object.color and not request.user.rol == 1 %}
            <tr>
                <td class="primary-row">
                    FECHA:
                </td>                
                <td class="text-center">
                    {% if object.fecha_paleta %}
                        {{ object.fecha_paleta }}
                    {% endif %}                    
                </td>      
            </tr>
            <tr>
                <td class="primary-row">
                    COLOR:
                </td>                
                <td class="text-center">
                    {{ object.color }}
                </td>                            
            </tr>
            <tr>
                <td class="primary-row">
                    NUMERO PALETA:
                </td>                
                <td class="text-end">
                    <strong>{{ object.numero_paleta }}</strong>
                </td>                      
            </tr>
            
            {% else %}
            <tr>
                <td class="primary-row">
                    FECHA:
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            {{ form.fecha_paleta }}
                        </div>
                    </div>                    
                </td>
            </tr>   
            <tr>
                <td class="primary-row">COLOR:</td>
                <td>
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            {{ form.color }}
                        </div>
                    </div>
                </td>
            </tr>                            
            <tr>
                <td class="primary-row">NUMERO PALETA:</td>
                <td>
                    <div class="row">
                        <div class="col-md-6"></div>                        
                        <div class="col-md-6">
                            {% csrf_token %}
                            {{ form.numero_paleta }}
                        </div>
                    </div>
                </td>
            </tr>   
            <tr>
                <td></td>
                <td>
                    <div class="row">       
                        <div class="col-md-6"></div>                 
                        <div class="col-md-6 text-end"><button type="submit" class="btn btn-sm btn-primary">Guardar</button></div>
                    </div>
                </td>
            </tr>                 
            {% endif %}
        </tbody>
    </table>
    </form>      
</div>